stages:
  - build

Testing:
  stage: build
  script:
    - msbuild SFMLApp.sln /t:build /p:Configuration=Release /p:Platform=x64
    - vstest.console x64/Release/MazeTests.dll /Platform:x64
  tags:
    - msbuild
    - visualstudio
    - windows
